opencv-python
face_recognition
SpeechRecognition
speechbrain
torch
torchaudio
tqdm
pyttsx3
# gTTS # Uncomment if you prefer Google TTS
PyAudio # Required by SpeechRecognition for microphone input
dlib # Required by face_recognition
PyYAML # For loading config
webrtcvad # For voice activity detection
faster-whisper # For real-time transcription
sounddevice # For audio playback
numpy # For audio processing
